<h1>A list of the folk who frequent The Prancing Pages</h1>
<ul>
  <% @users.each do |user| %>
    <li><strong><%= user.username %></strong> Rank: <%= user.rank %></li>
        <p>You have <%=10 - (user.comments.size + user.quotes.size) %> to reach Ranger </p>
  <% end %>
</ul>