
<h1><%= @character.name %></h1><br>
<img src="<%= @character.img %>" alt="Image not available"> <!-- needs work -->
<br>
<h3>The fans of this character have the following comments</h3>
<br>
<% if !@character.comments.empty? %>
  <p>Here is the most recent comment from a fan</p>
  <strong><%= @character.comments[-1].user.username %></strong>: <%= @character.comments[-1].content %>
<% else %>
  <p>Be the first to comment!<p>
  <% end %>
<!-- this needs to be changed to a link to view all the comments for this character
 and a form both here and on that page to make new comments. -->