<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <title>ThePrancingPages</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css?version=1"/>

  <!--
            Three::rings
          for:::the::Elven-Kings
       under:the:sky,:Seven:for:the
     Dwarf-Lords::in::their::halls:of
    stone,:Nine             for:Mortal
   :::Men:::     ________     doomed::to
 die.:One   _,-'...:... `-.    for:::the
 ::Dark::  ,- .:::::::::::. `.   Lord::on
his:dark ,'  .:::::zzz:::::.  `.  :throne:
In:::the/    ::::dMMMMMb::::    \ Land::of
:Mordor:\    ::::dMMmgJP::::    / :where::
::the::: '.  '::::YMMMP::::'  ,'  Shadows:
lie.::One  `. ``:::::::::'' ,'    Ring::to
 ::rule::    `-._```:'''_,-'     ::them::
 all,::One      `-----'        ring::to
   ::find:::                  them,:One
    Ring:::::to            bring::them
      all::and::in:the:darkness:bind
        them:In:the:Land:of:Mordor
           where:::the::Shadows
                :::lie.:::  
  -->

</head>

<body>

  <nav>
  <% if logged_in? %>
    Currently signed in as <strong><%= current_user.username %></strong>, <a href="/user/<%= current_user.id.to_s %>">View Profile</a>
     OR <a href="/logout">Log Out</a>
  <% else %>
    <a href="/user/new">Sign Up!</a> OR <a href="/login">Login!</a>
  <% end %>
    | <a href="/">Home<a> | <a href="/characters">View All Characters</a>
  </nav>

  <div class="border" id="border">

    <div class="pages">
      <div class="text" id="content">
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>

